@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700'); 

body {
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    text-align: center;
}

ul {
    white-space: nowrap;
    overflow: auto;
    padding: 0;
    height: 400px;
}

li {
    width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
    color: #34495e;
    transition: all .3s ease;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

li:hover {
    background: rgba(0, 0, 0, .02);
	cursor: pointer;
}

button {
    border: none;
    background-color: #34495e;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 25px;
    margin: 10px;
    display: inline-block;
    transition-duration: 0.3s;
    width: 300px;
    height: 50px;
}

.Navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 20px;
}

.Navbar button {
    width: 150px;
    height: 40px;
    padding: 0;
    margin: 0 5px;
}

button:hover {
    background-color: #517394;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px;
}

.Title h2 {
    margin: 0;
}

input {
	width: 100%;
	height: 25px;
	background: none;
	border: none;
	border-bottom: 1px solid #34495e;
	outline: none;
    font-weight: 50;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
	color: #34495e;
}

#loginForm button {
    margin: 40px;
}

#registerForm button {
    margin: 40px;
}

.MaiHeader h2 span {
	font-weight: 700;
}

.MaiHeader h2 {
    font-size: 56px;
	font-weight: 300;
	margin: 0 0 50px;
	color: #2c3e50;
}

.MaiHeader h1 {
    font-size: 64px;
	font-weight: 700;
	margin: 0;
	color: #2c3e50;
}

textarea {
    overflow: auto;
    height: auto;
    width: 100%;
    height: 200px;
    color: #34495e;
    background-color: white;
    margin: 10px 0;
}

.noteInput {
    text-align: start;
    margin: 40px 0;
}

.leftAlign {
    text-align: left;
}

#backButton {
    text-align: left;
    transition-duration: 0.3s;
    margin: 0 20px;
}

#homeButton, #logOutButton{
    transition-duration: 0.3s;
    margin: 0 10px;
}

#homeButton:hover, #logOutButton:hover, #backButton:hover {
    color: #517394;
    cursor: pointer;
}

.list-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.list-item-inline { 
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Style the input fields */
.list-item input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
}

.list-item strong {
    width: 100%;
    text-align: left;
    vertical-align: middle;
    margin: 10px;
    transition-duration: 0.3s;
}

.list-item strong:hover {
    color: #517394;
    cursor: pointer;
}

/* Add some margins for each label */
.list-item label {
    text-align: right;
    padding: 10px;
    width: 200px;
    margin: auto 0;
}

.drop-downs {
    display: flex;
    margin: 40px 0;
    justify-content: center;
}

.drop-down {
    display: flex;
}

.drop-down label {
    text-align: right;
    padding: 10px;
    margin: auto 0;
}

.drop-down-select {
    width: 50%;
    text-align: start;
}

select {
    -webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url('./assets/drop_down.png'), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #34495e;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
 }